// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import url('https://fonts.googleapis.com/css?family=Amatic+SC');

#index{
ul{


  font-family: 'Amatic SC', cursive;
  font-size: 35px;
  list-style-type: none;
  margin: 0;
  display: flex;



  padding: 0 0 10px 0;

  a{
    color: whitesmoke;
    text-decoration: none;
    padding-left: 7%;
    padding-right: 7%;
  }


  li{
    flex-grow: 2;
    display: inline;
    box-shadow: 5px 10px 8px #888888;
    background-color:  rgba(00,00,00,0.8);
    text-align: center;

    a{
      transition: color 0.5s;
    }

    .bottom-border{
      margin-left: 50%;
     // margin-right: 50%;
      height: 2px;
      width: 10px;
      transition: margin-left 0.3s, width 0.3s;
      border: 0px solid blue;
    }

  }

  li:hover{

    .bottom-border{
      margin-left: 0%;
      //margin-right: 0%;
      width: 100%;
      background-color: #ff8080;


    }

    a{
      color: #ff8080;
    }
  }

}


  margin: 0;
  background: url("bg2.png");

  background-size: cover;
  background-repeat: no-repeat;


  #main-picture{
    //width: 100%;
    padding-bottom: 50%;

  }

  #main-text{
    font-family: 'Amatic SC', cursive;
    text-align: center;
    align-content: center;
    font-size: 20px;
    font-weight: bolder;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
    letter-spacing: 27px;

    .bottom-icon{
      display: block;
    }

    //background-color: rgba(255, 255, 255, 0.2);
  }

}
